.test {
    position: relative;
    top: -60px;
}

.top {
    position: relative;
    top: -25px;
}

.download-app {
    width: 200px;
    /* height: 30px; */
    padding: 10px;
}

.q-one i {
    position: relative;
    left: 40px;
    top: -50px;
}