body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sign-in {
    z-index: 100000;
    width: 200px;
    height: auto;
    cursor: pointer;
}

.sign-in:hover {
    cursor: pointer;
}
.recommend-friends li {
    padding: 10px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}